@page
@model zSkinCareBookingFE_RazorPage.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schedule.TherapistId" class="control-label"></label>
                <select asp-for="Schedule.TherapistId" class ="form-control" asp-items="ViewBag.TherapistId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.BookingId" class="control-label"></label>
                <select asp-for="Schedule.BookingId" class ="form-control" asp-items="ViewBag.BookingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.Date" class="control-label"></label>
                <input asp-for="Schedule.Date" class="form-control" />
                <span asp-validation-for="Schedule.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.StartFrom" class="control-label"></label>
                <input asp-for="Schedule.StartFrom" class="form-control" />
                <span asp-validation-for="Schedule.StartFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.EndsAt" class="control-label"></label>
                <input asp-for="Schedule.EndsAt" class="form-control" />
                <span asp-validation-for="Schedule.EndsAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
