@{
    ViewData["Title"] = "View";
    Layout = "Home";
}

<h1>View</h1>

<ul>
    <li><a asp-controller="Schedule" asp-action="Index">Go to Schedule</a></li>
    <li><a asp-controller="Therapist" asp-action="Index">Go to Therapist</a></li>
</ul>