@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<ul>
    <li><a asp-controller="Schedules" asp-action="Index">Go to Schedule</a></li>
    <li><a asp-controller="Therapists" asp-action="Index">Go to Therapist</a></li>
</ul>
